<% if current_user.nil? %>
<h1><%= current_user.name %>の投稿</h1>

<h2>投稿がありません</h2>

<% else %>
<p>ログインしてくださいな</p>
<a href="/signin">ログイン</a>
<p>もしかして新規登録まだ？</p>
<a href="/signup">新規登録</a>

<% end %>
　