<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>MusicSNS</title>
</head>
<body>
	<nav>
		<div>
			<div>
				<a href="/">MusicSNS</a>
			</div>
			<ul>
				<li>新規ユーザーですか?</li>
				<li><a href="/signin"></a></li>
				<li><a href="/signup"></a></li>
			</ul>
		</div>
	</nav>
	<%= yield %>
</body>
</html>
