<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>MusicSNS</title>
	<link rel="stylesheet" href="/assets/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
	<!------------------------------------------------------------>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="center-hrizontal">
			<a href="/">MusicSNS</a>
			<% if !current_user.nil? %>
				<a href="/userpage"><img src="<%= current_user.img %>" alt="user_image" width="40" height="40"></a></li>
				<a href="/search">search</a></li>
				<a href="/signout">logout</a></li>
			<% else %>
				<a href="/signup">新規登録</a>
			<% end %>
	</nav>
	<main>
	<section class="first-view center-vertical">
		<h1>MUSIC SNS!</h1>
		<div>
			<% if current_user.nil? %>
				<form action="signin" method="post" class="form-inlines">
						<input type="text" name="name" placeholder="ユーザー名">
						<input type="password" name="password" placeholder="パスワード">
						<input type="submit" value="ログイン">
				</form>
			<% end %>
		</div>

	</section>
	<section class="center-vertical">
		<%= yield %>
	</section>
	</main>
</body>
</html>