<div>
  <form action="/signin" method="post">
    <div>
      <div>
        <input name="name" placeholder="なまえを入力"><br>
        <input name="password" type="password" placeholder="パスワードを入力してください"><br>
      </div>
    <div>
      <input type="submit" value="ログイン">
    </div>
  </form>
</div>
